<?xml version="1.0" encoding="utf-8"?>
<datasource type="xmltable" >
	<column name="link"/>
	<column name="title"/>
	<column name="imgname"/>
	<column name="target"/>
	<column name="ads_class"/>
	<index name="link"/>
	<row link="/contractor/" title="подрядчики" imgname="contractor" ads_class="" target=""/>
	<row link="/area/" title="площадки" imgname="area" ads_class="" target=""/>
	<row link="/artist/" title="артисты" imgname="artist" ads_class="" target=""/>
	<row link="/agency/" title="агентства" imgname="agency" ads_class="" target=""/>
</datasource>
